<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>云API</title>
    <link rel="stylesheet" type="text/css" href="../css/aui.css"/>
    <link href="../css/sweetalert2.min.css" rel="stylesheet">
    <script src="../script/jquery.min.js"></script>
    <script src="../script/fastclick.min.js"></script>
    <script>
        $(function() {  
            FastClick.attach(document.body);  
        });  
    </script>
    <style type="text/css">
    .aui-badge{
        color: #bdc3c7;
        background-color: transparent;
    }
    .aui-badge-success{
        color: green
    }
    #no-results{
        display: none;
        padding-top: 33%;
        color: #999999;
        text-align: center;
    }
    #no-results img{
        width:40%;
        display:block;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    #orders{
        display: none;
    }
    </style>
</head>
<body>


<div class="aui-content">
    <ul class="aui-list-view aui-in" id="orders">
    <script id="tpl-order" type="text/html">
        {{each list value i}}
        <li class="aui-list-view-cell" onClick="goOrder('{{value.orderId}}')">
        	<a class=" aui-arrow-right">
            {{ if value.channel.indexOf('wepay') == 0 }}
            <!--<i class="aui-iconfont aui-icon-edit aui-bg-success" style="border-radius:50%;"></i>-->
            <img src="../image/wepay.svg" style="width:32px;line-height:32px;vertical-align:middle;margin-right:10px;"/>
            {{ else if value.channel.indexOf('alipay') == 0 }}
            <img src="../image/alipay.svg" style="width:32px;line-height:32px;vertical-align:middle;margin-right:10px;"/>
            {{ else }}
            <img src="../image/unkown.svg" style="width:32px;line-height:32px;vertical-align:middle;margin-right:10px;"/>
            {{ /if }}
            ¥{{value.amount}}
            <span style="position:absolute;left: 150px; top: 16px;">{{value.people.name}}</span>
            {{ if value.step == 4 }}
            <span class="aui-badge">{{value.created}}</span>
            {{ else if value.step == 1 }}
            <span class="aui-badge">待付款 {{value.created}}</span>
            {{ /if }}
            </a>
        </li>
        {{/each}}
        </script>
    </ul>
    <div id="no-results">
    <img src="../image/no-results.png" />
        还没有收款记录～
    </div>
</div>


<script src="../script/store.min.js"></script>
<script src="../script/sweetalert2.min.js"></script>
<script src="../script/template-web.js"></script>
<script src="../script/timeago.min.js"></script>
<script src="../script/huaqie.api.js"></script>

<script type="text/javascript">
    var page = 1
    var total = 0
    var orders = []

    var goOrder = function(orderId) {
        api.openWin({
            name: 'order',
            url: './order.html',
            pageParam: {
                orderId: orderId
            }
        })
    }

    var fetch = function() {
        var me = store.get('me')
        var path = (me.role.level == 1)?'findByState':'frontFindByState'
        huaqie.get('order/'+path, {
            step: 4,
            page: page,
            size: 10
        }, function(ret) {
            if(ret.code){
                swal('提示', ret.message)
                return
            }
            if(ret.data.total == 0){
                $('#no-results').show()
                $('#orders').hide()
                return
            }
            $('#no-results').hide()
            $('#orders').show()
            ret.data.list.forEach(function(e){
                e.created = timeago().format(e.created, 'zh_CN')
            })
            orders = orders.concat(ret.data.list)
            $('#orders').html(template('tpl-order', {list: orders}))
            total = ret.data.total
        })
    }

    var refresh = function() {
        page = 1
        orders = []
        total = 0
        fetch()
    }

    apiready = function(){
        fetch()
        api.addEventListener({
            name : 'scrolltobottom',
            extra : {
                threshold : 0 //设置距离底部多少距离时触发，默认值为0，数字类型
            }
        }, function(ret, err) {
            if(total == 0)
                return
            if(page * 10 < total){
                page += 1
                fetch()
            } else {
                api.toast({
                    msg: '没有更多啦'
                })
                api.removeEventListener({
                    name : 'scrolltobottom'
                })
            }
        });
    }
</script>

</body>
</html>